@namespace BlazorTable
@typeparam TableItem

<CascadingValue Value="(IColumn<TableItem>)this" Name="Column">
    <Popover Reference="@this.FilterRef" IsOpen="@FilterOpen" Placement="Placement.Bottom" DismissOnNextClick="false">
        <h3 class="popover-header">Filter</h3>
        <div class="popover-body">

            <FilterManager TableItem="TableItem">
                <StringFilter TableItem="TableItem" />
                <BooleanFilter TableItem="TableItem" />
                <NumberFilter TableItem="TableItem" />
                <DateFilter TableItem="TableItem" />
                <EnumFilter TableItem="TableItem" />
                @if (this.CustomIFilters != null)
                {
                    this.CustomIFilters(this);
                }
            </FilterManager>

        </div>
    </Popover>
</CascadingValue>