@namespace BlazorTable
@typeparam TableItem

@if (AlwaysShow || (Table.TotalCount >= 1 && TotalPages >= 1))
{
    <div class="d-flex justify-content-end">
        <span class="align-middle">Page:@(Table.PageNumber + 1)/@(TotalPages + 1) Items:@(Table.TotalCount)</span>
        &nbsp;
        <ul class="pagination">
            <li class="page-item" @onclick="@(() => Table.FirstPage())" title="First"><a class="page-link" href="javascript:;">&#8676;</a></li>
            <li class="page-item" @onclick="@(() => Table.PreviousPage())" title="Previous"><a class="page-link" href="javascript:;">&#8592;</a></li>
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&nbsp;</a>
            </li>
            <li class="page-item" @onclick="@(() => Table.NextPage())" title="Next"><a class="page-link" href="javascript:;">&#8594;</a></li>
            <li class="page-item" @onclick="@(() => Table.LastPage())" title="Last"><a class="page-link" href="javascript:;">&#8677;</a></li>
        </ul>
    </div>
}