<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorTable.Sample</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Row" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Row
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/EditMode" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Edit Mode
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/AddColumn" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Add Column
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/GlobalSearch" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Global Search
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/EmptyData" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> EmptyDataTemplate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/LoadingData" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> LoadingDataTemplate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/Detail" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> DetailTemplate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/JObject" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> JObject
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/CustomSelect" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> CustomSelect
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/TableFooter" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Table Footer
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
