@namespace BlazorTable
@typeparam TableItem

@if (FilterManager.Column.Type == FilterType)
{
    <select class="form-control form-control-sm" value="@condition" @onchange="@((x) => condition = (StringConditions)Enum.Parse(typeof(StringConditions), x.Value.ToString()))">
        @foreach (var suit in (StringConditions[])Enum.GetValues(typeof(StringConditions)))
        {
            <option value="@suit">@suit.GetDescription()</option>
        }
    </select>
    <input type="text" class="form-control form-control-sm" @bind-value="filterText" required></input>
}