@namespace BlazorTable
@typeparam TableItem

@if (FilterManager.Column.Type == FilterType)
{
    <select class="form-control form-control-sm" value="@Condition" @onchange="@((x) => Condition = (StringCondition)Enum.Parse(typeof(StringCondition), x.Value.ToString()))">
        @foreach (var suit in (StringCondition[])Enum.GetValues(typeof(StringCondition)))
        {
            <option value="@suit">@suit.GetDescription()</option>
        }
    </select>
    <input type="text" class="form-control form-control-sm" @bind-value="FilterText" required />
}